body {
  margin: 0;
}
.mainContainer {
  height: 100vh;
  width: 100%;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.player1 {
  width: 50%;
  height: 100%;
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
}

.exitBtnContainer {
  height: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exitBtn {
  font-size: 30px;
  color: rgb(255, 246, 203);
  background-color: rgb(252, 20, 3);
  border-radius: 80%;
  padding: 2%;
  position: absolute;
  left: 5px;
  top: 5px;
}
/* 
.exitBtn {
  font-size: 30px;
  color: rgb(255, 246, 203);
  background-color: rgb(252, 20, 3);
  border-radius: 80%;
  padding: 2%;
  position: absolute;
  left: 5px;
  top: 70px;
} */

.pickedMoveContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pickedMoveImg {
  width: 80%;
  height: 80%;
  --animate-duration: 2s;
}

.playerOptionsContainer {
  height: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playerOptionsContent {
  background-color: rgb(252, 20, 3);
  width: 60%;
  height: 105px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.botOptionsContainer {
  height: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botOptionsContent {
  background-color: rgb(21, 160, 234);
  width: 60%;
  height: 105px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.namePointsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  height: 52.5px;
  align-items: center;
}

.namePointsContainer h3,
.namePointsContainer i,
.namePointsContainer span {
  color: rgb(255, 246, 203);
}

.moveContainer {
  display: flex;
  min-width: 200px;
  height: 52.5px;
  justify-content: space-evenly;
}

.bot {
  width: 50%;
  height: 100%;
  position: relative;
  float: right;
  display: flex;
  flex-direction: column;
}

.recentMovesContainer {
  height: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recentMovesContent {
  width: 60%;
  height: 20%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(21, 160, 234);
  position: absolute;
  right: 5px;
  top: 5px;
}

.recentMovesImgContainer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.recentMovesImgContainer::-webkit-scrollbar {
  width: 0;
}

.recentMovesDrawImg {
  width: 80%;
  display: flex;
  border: solid;
  border-radius: 5px;
  justify-content: space-evenly;
  border-color: rgb(214, 222, 214);
  margin-bottom: 10px;
}

.recentMovesWinImg {
  width: 80%;
  display: flex;
  border: solid;
  border-radius: 5px;
  justify-content: space-evenly;
  border-color: rgb(17, 240, 17);
  margin-bottom: 10px;
}

.recentMovesLoseImg {
  width: 80%;
  display: flex;
  border: solid;
  border-radius: 5px;
  justify-content: space-evenly;
  border-color: rgb(252, 20, 3);
  margin-bottom: 10px;
}

.recentMovesContent h3 {
  color: rgb(255, 247, 204);
  margin: 0;
}

.recentImgs {
  height: 40px;
  width: 40px;
}

.moveBtn {
  height: 50px;
}

#smallScreenPrompt {
  height: 100vh;
  width: 100%;
  background-color: beige;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#smallScreenPrompt h1 {
  margin: 10px;
  text-align: center;
}

#quitBtn {
  margin-top: 20px;
  height: 50px;
  border: 0px;
  background-color: red;
  border-radius: 10px;
}

.rotatePhoneGif {
  width: 50%;
  height: 50%;
}

#popupMessage {
  height: 100%;
  width: 100%;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-image: url("../images/popupBackground.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.popupMessageContent {
 width: 160px;
 display: flex;
 flex-direction: column;
 color: rgb(255, 246, 203);
 text-align: center;
}

.popupMessageContent h1 {
  margin: 0;
}

.disabled {
  opacity: 0.5;
}